In [1]:
import pandas as pd
import glob

Setting up the ID sample dataframe

In [2]:
meta_data_samples = pd.read_csv("../data/Papio_metadata_with_clustering.txt", sep=" ")

In [3]:
pop_map = dict(zip(meta_data_samples.Origin.unique(),
         [x.split(",")[0].split(" ")[0] for x in meta_data_samples.Origin.unique()]))
pop_df = pd.DataFrame({"population": meta_data_samples.Origin.map(pop_map),
              "PDGP_ID": meta_data_samples.PGDP_ID,
              "Sex": meta_data_samples.Sex})

In [4]:
meta_data_samples

,PGDP_ID,Provider_ID,Provider,Genus,Species,Origin,Sex,address,longitude,latitude,callset_index,C_origin
0,16066,16066_3130,Rogers,Papio,cynocephalus,"Mikumi, Tanzania",F,"Mikumi, Kilosa, Morogoro, Coastal Zone, Tanzania",36.977032,-7.404852,0,"Cynocephalus, Central Tanzania"
1,16098,16098_5026,Rogers,Papio,cynocephalus,"Mikumi, Tanzania",F,"Mikumi, Kilosa, Morogoro, Coastal Zone, Tanzania",36.977032,-7.404852,1,"Cynocephalus, Central Tanzania"
2,30877,30877_3426,James Else,Papio,anubis,"Aberdare, Kenya",M,"Aberdare National Park, Nyeri, Central Kenya, ...",36.712451,-0.410251,2,"Anubis, Kenya"
3,30977,30977_3373,James Else,Papio,anubis,"Aberdare, Kenya",F,"Aberdare National Park, Nyeri, Central Kenya, ...",36.712451,-0.410251,3,"Anubis, Kenya"
4,34449,34449_BZ11022,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",F,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,4,"Kindae, Zambia"
...,...,...,...,...,...,...,...,...,...,...,...,...
222,PD_0790,34418_BZ11065,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",F,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,222,"Kindae, Zambia"
223,PD_0791,34419_BZ11066,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",F,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,223,"Kindae, Zambia"
224,PD_0792,34420_BZ11067,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",F,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,224,"Kindae, Zambia"
225,PD_0793,34422_BZ11070,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",M,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,225,"Kindae, Zambia"
226,PD_0794_BAB,34423_BZ11071,Rogers/Jolly/Phillips-Conroy,Papio,kindae,"Chunga, Zambia",M,"Chunga, Mumbwa District, Central Province, Zambia",26.005210,-15.053557,226,"Kindae, Zambia"

In [5]:
pop_df.population.unique()

array(['Mikumi', 'Aberdare', 'Chunga', 'captive', 'Awash', 'Serengeti',
       'Arusha', 'Ngorongoro', 'Ruaha', 'Gombe', 'Udzungwa', 'Mahale',
       'Katavi', 'Selous', 'Lake', 'Tarangire', 'Niokolo-Koba', 'Issa',
       'Dendro', 'Filoha', 'Gog'], dtype=object)

In [6]:
dict(zip(meta_data_samples.Origin.unique(), [x.split(",")[0] for x in meta_data_samples.Origin.unique()]))

{'Mikumi, Tanzania': 'Mikumi',
 'Aberdare, Kenya': 'Aberdare',
 'Chunga, Zambia': 'Chunga',
 'captive': 'captive',
 'Awash, Ethiopia': 'Awash',
 'Serengeti, Tanzania': 'Serengeti',
 'Arusha, Tanzania': 'Arusha',
 'Ngorongoro, Tanzania': 'Ngorongoro',
 'Ruaha, Tanzania': 'Ruaha',
 'Gombe, Tanzania': 'Gombe',
 'Udzungwa, Tanzania': 'Udzungwa',
 'Mahale, Tanzania': 'Mahale',
 'Katavi, Tanzania': 'Katavi',
 'Selous, Tanzania': 'Selous',
 'Lake Manyara, Tanzania': 'Lake Manyara',
 'Tarangire, Tanzania': 'Tarangire',
 'Niokolo-Koba, Senegal': 'Niokolo-Koba',
 'Issa Valley, Tanzania': 'Issa Valley',
 'Dendro Park, Zambia': 'Dendro Park',
 'Filoha, Ethiopia': 'Filoha',
 'Gog Woreda, Gambella region, Ethiopia': 'Gog Woreda'}

In [7]:
pd.DataFrame({"old_name": ["chrX", "X"], "new_name": ["chr30", "30"]}).to_csv("../mosaic/chrX_mapping.txt",
                                                                              index=False, header=False, sep=" ")

In [8]:
pop_map = {'Cynocephalus, Central Tanzania': 'eastern_yellow', 'Anubis, Kenya': 'kenyan_olive',
       'Kindae, Zambia': 'kindae', 'Gelada, Captive': 'gelada', 'Hamadryas, Ethiopia': 'hamadryas',
       'Anubis, Tanzania': 'tanzanian_olive', 'Cynocephalus, Western Tanzania': 'western_yellow',
       'Papio, Senegal': 'papio', 'Ursinus, Zambia': 'ursinus', 'Anubis, Ethiopia': 'ethiopian_olive'}

In [9]:
sample_frame = pd.DataFrame({"population": meta_data_samples.C_origin.map(pop_map), "PDGP_ID": meta_data_samples.PGDP_ID})

Setting up a script to convert recombination maps.

In [10]:
recomb_map_path = "/home/eriks/baboondiversity/data/PG_panu3_recombination_map/mikumi_pyrho_genetic_map_chr{}.txt"
chrom = 20

In [11]:
recomb_map = pd.read_csv(recomb_map_path.format(chrom), sep=" ")
recomb_map

        chromosome  position  COMBINED_rate(cM/Mb)  Genetic_Map(cM)
0            chr20        19              0.000003         0.000170
1            chr20        73              0.000003         0.000338
2            chr20       126              0.000003         0.000407
3            chr20       148              0.000003         0.000410
4            chr20       149              0.000003         0.000451
...            ...       ...                   ...              ...
2792460      chr20  72046365              0.000003        76.804863
2792461      chr20  72046419              0.000003        76.804926
2792462      chr20  72046439              0.000003        76.805399
2792463      chr20  72046588              0.000003        76.811016
2792464      chr20  72048358              0.000003        76.811016

[2792465 rows x 4 columns]

In [12]:
snpfile = pd.read_csv('../mosaic/baboon_pops/snpfile.20', sep=' ', names=["rsID", "chr", "distance",
                                                                           "position", "allele", "allele ?"])

In [13]:
recomb_map.loc[recomb_map.position.isin(snpfile.position)]

        chromosome  position  COMBINED_rate(cM/Mb)  Genetic_Map(cM)
7            chr20       283              0.000003         0.001319
36           chr20      1828              0.000003         0.005833
38           chr20      1926              0.000003         0.006061
39           chr20      1939              0.000003         0.006162
40           chr20      1971              0.000003         0.006585
...            ...       ...                   ...              ...
2792407      chr20  72044764              0.000007        76.798110
2792417      chr20  72045065              0.000007        76.800221
2792419      chr20  72045099              0.000007        76.800407
2792424      chr20  72045195              0.000007        76.800991
2792446      chr20  72046087              0.000003        76.803838

[426287 rows x 4 columns]

In [14]:
for chrom in range(1, 21):
    recomb_map = pd.read_csv(recomb_map_path.format(chrom), sep=" ")
    snpfile = pd.read_csv('../mosaic/baboon_pops/snpfile.{}'.format(chrom), sep=' ', names=["rsID", "chr", "distance",
                                                                           "position", "allele", "allele ?"])
    print(chrom)
    with open('../mosaic/baboon_pops/rates.{}'.format(chrom), 'w') as file:
        recomb_subset = recomb_map.loc[recomb_map.position.isin(snpfile.position)]
        file.write("{}\n".format(len(recomb_subset)))
        recomb_join = " ".join(["{}".format(x) for x in recomb_subset["Genetic_Map(cM)"]])
        pos_join = " ".join(["{}".format(x) for x in recomb_subset["position"]])
        file.write(pos_join+"\n")
        file.write(recomb_join+"\n")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
# chrX conversion
recomb_map = pd.read_csv(recomb_map_path.format("X"), sep=" ")
snpfile = pd.read_csv('../mosaic/baboon_pops/snpfile.30'.format(chrom), sep=' ', names=["rsID", "chr", "distance",
                                                                           "position", "allele", "allele ?"])
print(chrom)
with open('../mosaic/baboon_pops/rates.{}'.format("30"), 'w') as file:
    recomb_subset = recomb_map.loc[recomb_map.position.isin(snpfile.position)]
    file.write("{}\n".format(len(recomb_subset)))
    recomb_join = " ".join(["{}".format(x) for x in recomb_subset["Genetic_Map(cM)"]])
    pos_join = " ".join(["{}".format(x) for x in recomb_subset["position"]])
    file.write(pos_join+"\n")
    file.write(recomb_join+"\n")

20

In [16]:
pos_join[-100:]

' 143688390 143688514 143688780 143688781 143688896 143688913 143689326 143689398 143691423 143691502'

In [17]:
recomb_join[-100:]

'268073 126.99824003251176 127.0034958578658 127.00447282304924 127.02931741866396 127.03015835072064'