In [1]:
%run ../scripts/notebook_settings_lean.py
from glob import glob
import os
import zarr
import allel

In [2]:
rmaps = glob("../smcpp_pyrho/steps/pyrho/*/*chr20*.rmap")

df_l = []
for m in rmaps:
    size = os.path.getsize(m)
    # Size check, as I had issues with the workflow.
    if size < 100:
        print(m)
        #os.remove(m)
    else:
        print(m.split("/")[-2])
        recomb_df = pd.read_csv(m, sep = "\t", names = ["start", "end", "recomb"])
        recomb_df["chrom"] = m.split("/")[-1].split(".")[0]
        recomb_df["population"] = m.split("/")[-2]
        df_l.append(recomb_df)
all_recombs = pd.concat(df_l)
all_recombs["window_size"] = all_recombs.end-all_recombs.start
all_recombs["genetic_distance"] = all_recombs.window_size*all_recombs.recomb

Katavi
Mahale
Issa_Valley
Gombe
Awash
Selous
Ngorongoro
Chunga
Tarangire
Lake_Manyara
Dendro_Park
Mikumi
Mikumi
Aberdare
Gog_Woreda
Niokolo-Koba
Arusha
Ruaha
captive
Filoha
Udzungwa
Serengeti

In [12]:
mikumi_chr20 = all_recombs.loc[all_recombs.population == "Mikumi"]
mikumi_chr20

,start,end,recomb,chrom,population,window_size,genetic_distance
0,72,148,1.203836e-08,chr20,Mikumi,76,9.149151e-07
1,148,282,1.203836e-08,chr20,Mikumi,134,1.613140e-06
2,282,436,1.203836e-08,chr20,Mikumi,154,1.853907e-06
3,436,470,1.203836e-08,chr20,Mikumi,34,4.093041e-07
4,470,821,1.203836e-08,chr20,Mikumi,351,4.225463e-06
...,...,...,...,...,...,...,...
742605,72045970,72046086,2.957444e-08,chr20,Mikumi,116,3.430635e-06
742606,72046086,72046095,2.957444e-08,chr20,Mikumi,9,2.661699e-07
742607,72046095,72046264,2.957444e-08,chr20,Mikumi,169,4.998080e-06
742608,72046264,72046418,2.957444e-08,chr20,Mikumi,154,4.554463e-06
742609,72046418,72046438,2.957444e-08,chr20,Mikumi,20,5.914887e-07

In [3]:
manyara_chr20 = all_recombs.loc[all_recombs.population == "Lake_Manyara"]

In [4]:
manyara_chr20

,start,end,recomb,chrom,population,window_size,genetic_distance
0,235,449,2.088665e-08,chr20,Lake_Manyara,214,4.469744e-06
1,449,1574,2.088665e-08,chr20,Lake_Manyara,1125,2.349749e-05
2,1574,1827,2.088665e-08,chr20,Lake_Manyara,253,5.284323e-06
3,1827,1925,2.088665e-08,chr20,Lake_Manyara,98,2.046892e-06
4,1925,1938,2.088665e-08,chr20,Lake_Manyara,13,2.715265e-07
...,...,...,...,...,...,...,...
463295,72044826,72045098,2.526696e-08,chr20,Lake_Manyara,272,6.872614e-06
463296,72045098,72045194,2.526696e-08,chr20,Lake_Manyara,96,2.425628e-06
463297,72045194,72045492,2.526696e-08,chr20,Lake_Manyara,298,7.529555e-06
463298,72045492,72045908,2.526696e-08,chr20,Lake_Manyara,416,1.051106e-05
463299,72045908,72046086,2.526696e-08,chr20,Lake_Manyara,178,4.497519e-06

In [5]:
zarr_dir = "/faststorage/project/baboondiversity/data/PG_panu3_zarr_12_03_2021/callset.zarr/chr20"
#Opening the zarr data
callset = zarr.open_group(zarr_dir, mode="r")
gt_zarr = allel.GenotypeArray(callset["calldata/GT"])
pos = allel.SortedIndex(callset["variants/POS"])

In [16]:
len(manyara_chr20)/len(pos)

0.16591076342944316

In [11]:
manyara_chr20.loc[manyara_chr20.start.isin(pos.values)]

,start,end,recomb,chrom,population,window_size,genetic_distance
19,6357,6599,9.227750e-10,chr20,Lake_Manyara,242,2.233115e-07
20,6599,7147,9.227750e-10,chr20,Lake_Manyara,548,5.056807e-07
28,8377,8390,9.227750e-10,chr20,Lake_Manyara,13,1.199607e-08
29,8390,8400,9.227750e-10,chr20,Lake_Manyara,10,9.227750e-09
30,8400,8466,9.227750e-10,chr20,Lake_Manyara,66,6.090315e-08
...,...,...,...,...,...,...,...
463223,72033379,72033396,2.821179e-08,chr20,Lake_Manyara,17,4.796004e-07
463251,72039953,72040439,2.462809e-08,chr20,Lake_Manyara,486,1.196925e-05
463256,72040776,72041003,1.938925e-07,chr20,Lake_Manyara,227,4.401360e-05
463268,72041295,72041299,4.543492e-08,chr20,Lake_Manyara,4,1.817397e-07
463270,72041300,72041393,4.543492e-08,chr20,Lake_Manyara,93,4.225448e-06